@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #19323a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: 'Patrick Hand', sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  margin-bottom: 15px;
}

p {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

p strong {
  font-size: 14px;
  color: #777;
}

.options p:first-child {
  font-size: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.memory-card {
  height: 175px;
  width: 175px;
  border-radius: 2px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-family: 'Patrick Hand', sans-serif;
  border: 2px solid #cc2f49;
}

.memory-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.memory-card .front,
.memory-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.memory-card .front {
  background: #fff;
  transform: rotateY(180deg);
}

.memory-card .front img {
  width: 175px;
}

.memory-card .back {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/60/Virginia_Tech_Hokies_logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #d6aeb5;
  font-size: 100px;
  transition: 0.3s ease all;
}

.memory-card .back:hover {
  opacity: 0.25;
  color: #fff;
  transform: scale(1.25);
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.winner button {
  margin-left: 10px;
  background-color: gray;
  border-radius: 10px;
}